#pytorch-forecasting[mqf2]==1.0.0
darts==0.31.0
tslearn==0.6.3
dtaidistance==2.3.12
tsfresh==0.20.3
tsfel==0.1.9
stumpy==1.13.0
#sktime==0.33.2
statsforecast==1.7.8
tsfeatures==0.4.5
#kats==0.2.0
hierarchicalforecast==0.4.2
mlforecast==0.13.5
neuralforecast==1.7.5
pycatch22==0.4.5