plotly==5.24.1
ipykernel==7.3.0
ipywidgets==8.1.8
matplotlib==3.11.0
scipy==1.18.0
statsmodels==0.14.6
scikit-learn==1.9.0
xgboost==3.4.1
catboost==1.2.10
lightgbm==4.7.0
yellowbrick==1.5
tensorboard==2.21.0
pandas==3.0.5
seaborn==0.13.2
polars==1.43.2
networkx==3.6.1
shap==0.52.0